<div class="container">
  <div class="cocktail-container cocktail-hover">
    <div class="cocktail-image"></div>
    <div class="cocktail-info">
      <h2><%= @cocktail.name %></h2>
      <ul class="cocktail-ingredients">
        <% @cocktail.doses.each do |dose| %>
        <div class="cocktail-ingredient">
          <li><%= dose.ingredient.name %> | <%= dose.description %></li>
          <%= link_to dose_path(dose), method: :delete do  %>
            <i class="fas fa-minus-circle"></i>
          <% end %>
        </div>
        <% end %>
            <i class="fas fa-plus-circle cocktail-add-dose cocktail-hover btn btn-primary dropdown-toggle"  id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><p> ingredient</p></i>
          <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
            <%= simple_form_for [@cocktail, @dose] do |f| %>
          <li role="cocktail-dropdown-item" id="dropdown">
              <%= f.association :ingredient, include_blank: false, label: false, class: "select2 selector" %>
              <%= f.input :description, placeholder: "Measure", label: false %>
              <%= f.submit "Add Ingredient", class: "btn btn-primary cocktail-hover" %>
          </li>
            <% end %>
          </ul>
      </ul>
    </div>
  </div>
</div>
